VITE_FIREBASE_API_KEY="AIzaSyCUwZHS4FIl8Ktvh27FfmJad_Gy20A7Ais"
VITE_FIREBASE_AUTH_DOMAIN="syllabix-6dca3.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="syllabix-6dca3"
VITE_FIREBASE_STORAGE_BUCKET="syllabix-6dca3.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="150132602449"
VITE_FIREBASE_APP_ID="1:150132602449:web:7613cff0c4dfabee646a70"
VITE_BACKEND_URL=http://localhost:5000
